* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  margin: 0 auto;
}

strong {
  color: #009966;
}
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.intro-chunk {
  padding: 24px;
  margin-bottom: 48px;
}
.indented-heading {
  margin-left: -32px;
  padding: 16px 32px 15px;
  background-color: #ffbf00;
  width: fit-content;
}

main {
  background-color: #666666;
  box-shadow: 0 -8px 0 #999999;
  border-top: 72px solid #666666;
  border-bottom: 72px solid #666666;
}
.card {
  margin: 0 auto;
  background-color: #fff;
  max-width: 800px;
  padding: 24px;
  border-bottom: 8px solid #999999;
}
p {
  word-wrap: wrap;
  font-size: 20px;
}
